/*todo Hanko Auth Styles Reconfiguration */
hanko-auth::part(form-item) {
  /* Force the input fields and buttons are on top of each other */
  min-width: 100%;
}

hanko-auth::part(container) {
  background-color: transparent;
  max-width: 400px;
}

.hankoComponent::part(input) {
  background: #3d3f63;
  padding: 32px 0px 25px 16px;
  border-radius: 4px 4px 0px 0px;
  color: #dfd5df;
  font-family: "Nunito Sans", "sans-serif";
  display: flex;
  height: 40px;
  /* padding-right: 0px; */
  border: 0;
  outline: none;
  transition: border-color 0.3s ease;
}

.hankoComponent::part(input):focus {
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, #a9a5fd 0%, #ebd75d 101.62%);
  border-image-slice: 1;
}

.hankoComponent::part(primary-button) {
  padding: 0px 32px;
  height: 57px;
  border-radius: 4px 4px 0px 0px;
  border: 0;
  color: #252641;
  text-align: center;
  font-family: "Nunito Sans", "sans-serif";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
  background: linear-gradient(90deg, #a9a5fd 0%, #ebd75d 101.62%);
  transition: all 0.3s ease;
}

.hankoComponent::part(primary-button):hover {
  background: transparent;
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, #a9a5fd 0%, #ebd75d 101.62%);
  border-image-slice: 1;
  color: #fff;
}

.hankoComponent::part(headline1) {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  font-family: "Unica One", "sans-serif";
  margin-bottom: 25px;
}

.hankoComponent::part(paragraph) {
  color: #dfd5df;
  text-align: center;
}

/* PassKey Button Style */
.hankoComponent::part(secondary-button) {
  padding: 0px 32px;
  height: 57px;
  border-radius: 4px 4px 0px 0px;
  border: 0;
  color: #252641;
  font-family: "Nunito Sans", "sans-serif";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
}

.hankoComponent::part(secondary-button):hover {
  /* background: #fff; */
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, #a9a5fd 0%, #ebd75d 101.62%);
  border-image-slice: 1;
}

.hankoComponent::part(divider-line) {
  background: #b2b3cf;
  margin: 0 5px;
  /* display: none; */
}

.hankoComponent::part(divider) {
  margin: 30px 0;
}

.hankoComponent::part(divider-text) {
  font-size: 20px;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Unica One", sans-serif;
  font-weight: 700;
  color: #fff;
}

.hankoComponent::part(text-input) {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.hankoComponent::part(passcode-input) {
  font-family: "Unica One", sans-serif;
  padding-right: auto;
  font-weight: 900;
  font-size: 40px;
}
