@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500&family=Poppins:wght@400;500;600;700&family=Unica+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
#root {
  display: contents;
}

.active {
  color: #f48c06;
  border-bottom: 1px solid #2f327d;
  border-bottom-width: 4px;
}

/* Control Visibility */
.hide {
  left: 0;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-100%);
  transition: 0.5s;
}

.visible {
  left: 10%;
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  transition: 0.5s;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 242, 225, 0.6);
  cursor: pointer;
  z-index: 1;
}

/* Responsive Design Tablets */
@media screen and (min-width: 1024px) {
  .hide {
    left: 10%;
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
  .navbar_links {
    position: static;
    flex-direction: row;
    box-shadow: none;
    background-color: transparent;
    height: 100%;
    width: 80%;
    border-radius: 0;
    justify-content: flex-end;
    margin-right: 2.5rem;
  }
}

#icon {
  stroke: #2f327d;
  fill-opacity: 0;
  stroke-width: 1px;
  stroke-dasharray: 4500;
  animation: draw 8s ease infinite;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.search {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 100%;
  border-image: linear-gradient(90deg, #a9a5fd 0%, #ebd75d 101.62%);
  border-image-slice: 1;
}

/* Home */
#Home {
  /* background-image: url() no-repeat; */
  height: 90vh;
  background-attachment: fixed;
}
