@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500&family=Poppins:wght@400;500;600;700&family=Unica+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  @apply bg-white dark:bg-[#1D232A];
}

body,
#root {
  display: contents;
}

.active {
  color: #f48c06 !important;
  @apply border-b border-solid border-[#2f327d] dark:border-white;
  border-bottom-width: 4px;
}

/* Control Visibility */
.hide {
  left: 0;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-100%);
  transition: 0.5s;
}

.visible {
  left: 10%;
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  transition: 0.5s;
}

.backdrop {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  /* width: 100%; */
  /* height: 100%; */
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  overflow-y: auto;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.show {
  opacity: 1;
  pointer-events: auto;
}

/* Responsive Design Tablets */
@media screen and (min-width: 1024px) {
  .hide {
    left: 10%;
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
  .navbar_links {
    position: static;
    flex-direction: row;
    box-shadow: none;
    background-color: transparent;
    height: 100%;
    width: 80%;
    border-radius: 0;
    justify-content: flex-end;
    margin-right: 2.5rem;
  }
}

#icon {
  @apply stroke-[#2f327d] dark:stroke-neutral-300;
  fill-opacity: 0;
  stroke-width: 1px;
  stroke-dasharray: 4500;
  animation: draw 8s ease infinite;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.search {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 100%;
  border-image: linear-gradient(90deg, #a9a5fd 0%, #ebd75d 101.62%);
  border-image-slice: 1;
}
/* Home */
#Home {
  /* background-image: url() no-repeat; */
  height: 90vh;
  background-attachment: fixed;
}

/*todo -----HANKO LOGIN---------- */
/*todo -----CUSTOM STYLING-------- */

hanko-auth::part(form-item) {
  min-width: 100%;
}

hanko-auth::part(container) {
  background-color: transparent;
  max-width: 400px;
}

.hankoComponent::part(input) {
  @apply bg-transparent text-nav-blue dark:text-white;
  padding: 32px 0px 25px 10px;
  border-radius: 4px 4px 0px 0px;
  font-family: "Nunito Sans", "sans-serif";
  display: flex;
  height: 40px;
  /* padding-right: 0px; */
  border: 0;
  outline: none;
  transition: border-color 0.3s ease;
  /* box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset; */
  box-shadow: rgba(255, 253, 253, 0.1) 0px 0px 0px 1px inset;
}

.hankoComponent::part(input):focus {
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, #a9a5fd 0%, #ebd75d 101.62%);
  border-image-slice: 1;
}

.hankoComponent::part(primary-button) {
  padding: 0px 32px;
  height: 57px;
  border-radius: 4px 4px 0px 0px;
  border: 0;
  color: #252641;
  text-align: center;
  font-family: "Nunito Sans", "sans-serif";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
  background: linear-gradient(90deg, #a9a5fd 0%, #ebd75d 101.62%);
  transition: all 0.3s ease;
}

.hankoComponent::part(primary-button):hover {
  background: transparent;
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, #a9a5fd 0%, #ebd75d 101.62%);
  border-image-slice: 1;
  color: #fff;
}

.hankoComponent::part(headline1) {
  @apply text-nav-blue dark:text-white;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 25px;
}

.hankoComponent::part(paragraph) {
  @apply text-nav-blue dark:text-white;
  text-align: center;
}

/* PassKey Button Style */
.hankoComponent::part(secondary-button) {
  padding: 0px 32px;
  height: 57px;
  border-radius: 4px 4px 0px 0px;
  border: 0;
  color: #252641;
  font-family: "Nunito Sans", "sans-serif";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
}

.hankoComponent::part(secondary-button):hover {
  /* background: #fff; */
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, #a9a5fd 0%, #ebd75d 101.62%);
  border-image-slice: 1;
}

.hankoComponent::part(divider-line) {
  background: #b2b3cf;
  margin: 0 5px;
  /* display: none; */
}

.hankoComponent::part(divider) {
  margin: 30px 0;
}

.hankoComponent::part(divider-text) {
  @apply text-nav-blue dark:text-white;
  font-size: 20px;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Unica One", sans-serif;
  font-weight: 700;
}

.hankoComponent::part(text-input) {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.hankoComponent::part(passcode-input) {
  font-family: "Unica One", sans-serif;
  padding-right: auto;
  font-weight: 900;
  font-size: 25px;
}
